<nav>
<label for="">
  <div class="input">
    <input type="search" placeholder="Buscar" class="input-search" />
    <span class="material-icons icon">search</span>
  </div>
</label>
<div class="icons-user mx-3">
  <div class="user icons-select">
   <span class="material-icons icons">person</span>
   <span class="text-xs font-bold animate-pulse absolute top-0 left-4 bg-green-500 rounded-2xl w-3.5 text-center">1</span>
  </div>
  <span class="icons-select material-icons icons">favorite</span>
  <span class="icons-select material-icons icons">store</span>
</div>
</nav>
