<section class=" bg-gray-200 py-6">
  <h2 class="text-3xl text-center mb-5 font-semibold">EL JUEGO COMENZO</h2>
  <div class="container-img flex gap-5 md:justify-evenly" #slideImg>
    <div class="img">
      <img
        src="../../../../assets/products/camiseta-titular-argentina-24.avif"
        alt="adidas"
      />
      <div class="container-span">
        <span class="text-red-500 font-bold">%</span>
        <span class="font-bold">Fuera de casa</span>
      </div>
    </div>
    <div class="img">
      <img
        src="../../../../assets/products/zapatillas-ae-1-the-future.avif"
        alt="adidas"
      />

      <div class="container-span">
        <span class="text-red-500 font-bold">%</span>
        <span class="font-bold">Para la cancha</span>
      </div>
    </div>
    <div class="img">
      <img
        src="../../../../assets/products/zapatillas-forum-low.avif"
        alt="adidas"
      />

      <div class="container-span">
        <span class="text-red-500 font-bold">%</span>
        <span class="font-bold">Ropa</span>
      </div>
    </div>
    <div class="img">
      <img
        src="../../../../assets/products/zapatillas-trae-young-3-low.avif"
        alt="adidas"
      />

      <div class="container-span">
        <span class="text-red-500 font-bold">%</span>
        <span class="font-bold">Ver todo</span>
      </div>
    </div>
  </div>
</section>
