<div class="acomodar md:flex md:justify-center">
<header class="flex-grow">

  <div class="hero-img-container">
    <img class="img-hero" src="../../../../assets/heroImg2.avif" alt="adidas-hero">
    <section class="section-hero">

        <p class="p-title">Hasta</p>
        <h1 class="h1-title">50% OFF</h1>

    </section>

  </div>

</header>

<section class="info-hero md:flex-grow ">
  <div class="h2-title">
    <span class="material-icons fire">local_fire_department</span>
    <h1 class="h2-info">DESCUENTOS QUE ARDEN</h1>
    <span class="material-icons fire">local_fire_department</span>
  </div>

    <button class="button-header">
      <span class="button-text">Comprar Ahora</span>
      <span class="material-icons button-icons">arrow_right_alt</span>
    </button>

</section>
</div>
