<section>

  <div class="button-left button" (click)="scrollLeft()">
    <img src="../../../../assets/arrow-left.svg" alt="left">
  </div>

  <div class="container-section" #imageContainer>
    <div class="container-img">
      <img src="../../../../assets/man-adidas.avif" alt="man" />
      <p class="title">Hombre</p>
    </div>

    <div class="container-img">
      <img src="../../../../assets/adidas-pink.avif" alt="woman" />
      <p class="title">Mujer</p>
    </div>

    <div class="container-img">
      <img src="../../../../assets/adidas-niños.avif" alt="boys" />
      <p class="title">Niños</p>
    </div>
  </div>

  <div class="button-right button" (click)="scrollRight()">
    <img src="../../../../assets/arrow-right.svg" alt="right">
  </div>

</section>
